.createQ__container {
  min-height: 100vh;
  padding: 2rem;
}

.createQ__section {
  max-width: 1000px;
  margin: 0 auto;
}
.createQ__title {
  display: flex;
  align-items: center;
  height: 120px;
  background-image: url("../../assets/createQBg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 2rem;
}
.createQ__title h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.tipsContainer {
  padding: 2rem;
  background-color: rgb(237, 244, 250);
  border: 1px solid rgb(170, 200, 229);
  border-radius: 10px;
  line-height: 20px;
}

.tipsContainer ul {
  list-style: inside;
  font-size: 0.875rem;
}

.tipsContainer h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.tipsContainer h3 {
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
