.ques__card img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}

.ques__card h3 {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.ques__card {
  border-bottom: 1px solid #e9e9e9;
  padding: 1rem 2rem;
}
.ques__card:last-child {
  border: 0px;
}
.ques__content {
  color: rgb(86, 86, 86);
  font-size: 0.875rem;
  font-weight: 300;
  word-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 1rem 0;
  line-height: 20px;
}

.ques__bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ques__tagList {
  display: flex;
  flex-direction: row;
}

.tag {
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 5px;
  padding: 3px 7px;
  margin-right: 10px;
  font-size: 0.875rem;
}

.ques__userInfo {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.ques__userInfo strong {
  font-weight: 500;
}
.ques__userInfo span {
  font-weight: 200;
  margin-left: 0.4rem;
}
