.title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.fieldBox input {
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  height: 35px;
  width: 300px;
}
.errMsg {
  font-size: 13px;
  font-weight: 400;
  color: #d95050;
  margin-top: 5px;
}
