/* sign up form */
.signupForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  /* width: 300px; */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.086), 0 3px 10px rgba(0, 0, 0, 0.068);
  margin: 2rem 0;
}

.note {
  font-size: 13px;
  line-height: 1.2rem;
}
