.readQ__container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.readQ__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e9e9e9;
  padding: 2rem;
}

.inner__container {
  display: flex;
}
.inner__container aside {
  margin-left: 2rem;
  margin-top: 1rem;
}

.contents__wrap {
  flex: 1;
}
.Content {
  padding: 1rem;
  white-space: pre-line;
  line-height: 20px;
}
.question__title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e9e9e9;
}
.question__title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__title > p {
  font-size: 0.875rem;
  color: #494949;
}

.question__title > div > h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* tag */
#taglist {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.tag {
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 5px;
  padding: 3px 7px;
  margin-right: 10px;
}

/* answer */
.Answer {
  padding: 2rem 0;
}
.answer__title {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.AnswerEditor {
  width: 740px;
}
