.searchBarContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(197, 197, 197);
  border-radius: 3px; */
}

.searchIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.searchBar {
  width: 100%;
  padding: 10px;
  padding-left: 37px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}
.searchBar:focus {
  border-color: #0a95ff;
  outline: #0a95ff30 solid 4px;
}
@media (max-width: 768px) {
  .headerContainer {
    max-width: 768px;
    justify-content: center;
  }
  .earchBarContainer {
    display: none;
  }
}
