header {
  position: sticky;
  top: 0;
  border-top: 4px solid rgb(255, 140, 0);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 100vw;
  color: rgb(63, 63, 63);
  z-index: 2;
}
.headerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 2rem;
  max-width: 1200px;
  margin: auto;
}
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}
.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 0.875rem;
}
.navList li {
  white-space: nowrap;
}
.rightContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  display: flex;
  width: 150px;
  /* height: 30px; */
  margin-bottom: 0.5rem;
  background-color: white;
  cursor: pointer;
}
.menuIcon {
  color: gray;
  height: 100%;
  width: 28px;
  cursor: pointer;
  margin-right: 1rem;
}
.dropdownContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.buttonContainer a button {
  flex: 1;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .headerContainer {
    max-width: 768px;
    justify-content: center;
  }
  .earchBarContainer {
    display: none;
  }
}
