#headerContainer {
  position: sticky;
  top: 0;
  border-top: 4px solid rgb(255, 140, 0);
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 100%;
  color: rgb(63, 63, 63);
  z-index: 2;
}
.headerWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 65px;
  margin: auto;
}
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  display: flex;
  width: 150px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}
.menuIcon {
  color: gray;
  height: 100%;
  width: 28px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.dropdownContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
}
.searchBarContainer {
  width: 400px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.searchIcon {
  width: 30px;
  height: 100%;
  color: gray;
  margin: 0px 5px;
  cursor: pointer;
}
.searchBar {
  width: 100%;
  padding: 0.5rem;
  border-style: none;
  outline: none;
  font-size: 14px;
  color: rgb(63, 63, 63);
}

@media (max-width: 600px) {
  .headerContainer {
    max-width: 600px;
    justify-content: center;
  }
  .earchBarContainer {
    display: none;
  }
}
