.profile__list_box {
  flex: 1;
  margin: 1rem;
}

.profile__result {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.profile__lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
}

.profile__listItem {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.profile__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: gray;
}
