#main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.sidePanelWrap {
  margin-left: 2rem;
  margin-top: 2rem;
}
.mainSection {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-left: 1px solid #e9e9e9; */
  padding: 2rem 0;
}
.mainSection nav {
  display: flex;
  justify-content: center;
}
#main {
}

.questionHead__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.questionHead__top h1 {
  font-size: 1.6rem;
}

.questionHead__result {
  padding: 1rem 2rem;
  border-bottom: 1px solid #e9e9e9;
}
/* 
#question {
  flex: 1;
  border-left: 1px solid #ccc;
  clear: both;
}

#questionHead {
  margin: 20px 0 20px 20px;
}

#questionHeadTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#questionHeadTitle h1 {
  font-size: 2rem;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

#footer {
  overflow-x: hidden;
} */
